body {
    font-family: inter;
    margin: 0;
    padding: 0;
}

nav {
    height: 68px;
    background-color: #ffb800;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}

li {
    margin-right: 10px; /* Adicione margem direita se desejar espaço entre o logotipo e a barra de pesquisa */
}
ol{
    list-style-type: none;
}
#logo {
    margin-right: 10px; /* Adicione margem direita se desejar espaço entre o logotipo e a barra de pesquisa */
}

#barra-pesquisa {
    position: absolute;
    border-radius: 10px;
    height: 34px;
    width: 288px;
    right: 20px;
    border: none;
    padding-left: 10px;
}
#how{
    height: 76px;
    width: 90%;
    background-color: #d9d9d9;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    align-items: center;
    display: flex;
}
a{
    text-decoration: none;
    color:black;
}
#how:hover{
    background-color: #c2c2c2;
    
}
#titulo{
    padding-left: 20px;
}